<div class="jumbotron row" style="margin-top: 4em">
	<div class="col-6 float-left">
		<h1 class="display-4">OFOS - Online Food Ordering System</h1>
		<p class="lead">
			Welcome to the one stop for all your hunger, this food ordering app
			will allow you to order your favourite foor from the comfort of your
			own home!
		</p>
		<p class="lead">
			<a class="btn btn-dark btn-lg loggedOut col-4" href="/user/session/create" role="button">Get Started</a>
			<a class="btn btn-dark btn-lg loggedIn col-4" href="/menu/list" role="button">Go to the Menu</a>
		</p>
	</div>
	<div class="col-6 float-right ">
		<img class="img-fluid" src="../assets/images/eat.png" alt="image" />
	</div>
	<hr class="my-4" />
	<p style="margin-left:1.2%">
		No Terms and Conditions, we just help you order your food and deliver it
		to you free of any additional charges.
	</p>
</div>