<div class="jumbotron">
	<h1 class="display-4">OFOS - Online Food Ordering System</h1>
	<p class="lead">
		Welcome to the one stop for all your hunger, this food ordering app will
		allow you to order your favourite foor from the comfort of your own
		home!
	</p>
	<p class="lead">
		<a
			class="btn btn-dark btn-lg loggedOut col-2"
			href="/user/session/create"
			role="button"
			>Get Started</a
		>
		<a
			class="btn btn-dark btn-lg loggedIn col-2"
			href="/menu/list"
			role="button"
			>Go to the Menu</a
		>
	</p>
	<hr class="my-4" />
	<p>
		No Terms and Conditions, we just help you order your food and deliver it
		to you free of any additional charges.
	</p>
</div>
